<footer>
  <div class="container footer">
    <div class="content">
      <div class="logo-section">
        <img
          class="logo"
          src="./assets/images/logoFooter.svg"
          alt="Logo Uber Eats"
        />
        <div class="app">
          <img src="./assets/images/AppStore.svg" alt="App Store" />
          <img src="./assets/images/GooglePlay.png" alt="Google Play" />
        </div>
      </div>
      <div class="text-col">
        <a href="#">Acerca de Uber Eats</a>
        <a href="#">Lee nuestro blog</a>
        <a href="#">Compra tarjetas de regalo</a>
        <a href="#">Crear una cuenta de negocios</a>
        <a href="#">Agrega tu restaurante</a>
        <a href="#">Regístrate para realizar entregas</a>
      </div>
      <div class="text-col">
        <a href="#">Obtén ayuda</a>
        <a href="#">Lee las Preguntas frecuentes</a>
        <a href="#">Conoce todas las ciudades</a>
        <a href="#">Ver todos los países</a>
        <a href="#">Restaurantes cerca de mí</a>
        <a href="#"><i class="fas fa-globe"></i>Español</a>
      </div>
    </div>
    <hr class="hr-footer" />
    <div class="final-section">
      <div class="social-media">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="copy-right-section">
        <div class="privacy">
          <a href="#">Política de privacidad</a>
          <a href="#">Términos</a>
          <a href="#">Tarifas</a>
        </div>
        <p><i class="far fa-copyright"></i> 2020 Uber Technologies Inc.</p>
      </div>
    </div>
  </div>
</footer>
