* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  list-style: none;
  flex-shrink: 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
}

.card .img-section img{
  width: inherit
}
.card .img-section {
  width: 100%;
  position: relative;
}

.card .img-section i {
  position: absolute;
  color: #ffffff;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
}
.card .img-section i:hover {
  transform: scale(1.1);
}

.text-section {
  width: 100%;
  display: flex;
  padding: 16px 0 12px 0;
  border-bottom: 1px #cecece solid;
  justify-content: space-between;
}

.card .restaurant {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}
.card .cost {
  font-size: 14px;
}
.card .rating {
  font-size: 14px;
  background-color: rgb(230, 242, 237);
  color: #05A357;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.card .category {
  font-size: 12px;
  padding-top: 8px;
}



@media screen and (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);;
    gap: 40px 24px;
  }
}
@media screen and (max-width: 520px) {
  .cards-container {
    grid-template-columns: 1fr;
    gap: 40px 24px;
  }
}
